*.pth filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
**/__pycache__/

.vscode/
misc/
new.py
nohup.out
output/
remove_pth.py
run_evals.out
run_evals.sh
see_pth.py
test.py
test00.py